:root {
  --doc-height: 100vh; /* Fallback value */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: var(--doc-height);
  overflow-x: hidden;
  overflow-y: hidden;
}

.app-wrapper {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

.fall-back-wrapper {
  height: 100%;
}

.greyscale-animation {
}

.map-wrapper {
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex: 1;
  background-color: rgb(229, 224, 224);
}

.map-control-btn {
  /* position: absolute; */
  top: 20px;
  left: 20px;
  z-index: 1;
  padding: 0;
  color: white;
  border: none;
  border-radius: 5px;
  background: none;
}

.image-preview {
  height: 30px;
  width: 30px;
  background-color: black;
  /* background-image: url("/images/vecteezy_an-unforgettable-360-panorama-of-the-dolomites_20803210.jpg"); */
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  font-weight: bold;
  color: white;
}

/* .loading-screen-wrapper {
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
} */

.loading-screen-wrapper {
  position: absolute;

  height: 100%; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3a3a; /* example background color */
  z-index: 30;
}

.image {
  filter: grayscale(100%);
  animation: colorTransition 3s forwards;
}

.overlay {
  background: white;
  animation: reveal 3s forwards;
}

@keyframes reveal {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes colorTransition {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #83a7bf;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.map-container {
  position: absolute;
  bottom: -100%; /* start off-screen */
  left: 0;
  right: 0;
  transition: bottom 0.3s ease-out;
  /* Ensure it's above other content if needed */
  z-index: 20;
  height: 37%;
}

.map-container.visible {
  bottom: 5%; /* slide up to visible position */
}

.map-container.hidden {
  bottom: -100%; /* slide down out of view */
}
