:root {
  --doc-height: 100vh; /* Fallback value */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: var(--doc-height);
  overflow-x: hidden;
  overflow-y: hidden;
}

.app-wrapper {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

.map-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex: 1;
  background-color: rgb(229, 224, 224);
}

.image-preview {
  height: 35px;
  width: 35px;
  background-color: black;
  /* background-image: url("/images/vecteezy_an-unforgettable-360-panorama-of-the-dolomites_20803210.jpg"); */
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  font-weight: bold;
  color: white;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #83a7bf;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
